[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
zipline = "*"
jupyter = "*"

[requires]
python_version = "3.5.7"
